* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barcode-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.jsbarcode {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
